<div fxLayout="column" fxLayoutGap="20px">

  <app-page-card back="true" link="/registrar/ministers/list">
    <mat-card-header>
      <mat-card-title>{{ titlePage | uppercase }}</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column">

      <form [formGroup]="ministerForm" novalidate>
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Name</mat-label>
          <input matInput placeholder="Enter minsiter name" #name maxlength="150" formControlName="name" required>
          <mat-error *ngIf="nameRequired">Name is
            <strong>required</strong>
          </mat-error>
          <mat-hint align="end">{{name.value?.length || 0}}/150</mat-hint>
        </mat-form-field>

        <div fxFlex fxLayoutAlign="center center">

          <app-save-button-form [buttonLabel]="buttonLabel" [disabled]="ministerForm.invalid" [isSaving]="isSaving$ | async" (save)="submit($event)"></app-save-button-form>

        </div>
      </form>
    </mat-card-content>
  </app-page-card>


</div>